img{
    height: auto; 
    &:hover{
        opacity:0.8; 
    }
}

.widget{
    .post-card{
        .post-card-title{
            font-size : 14px;
        }
    }
}

.liked-block{
    .post-card {
        .post-card-content{
            display:none;
        }
    }
}
.popular-posts-wrapper{
    margin: 10px 0px;
}

.post-card {
    &.module{
        &.new-module{
            border-bottom: 0px;
            padding-bottom: 0px;

        }
        .module-top{
            .post-card-title{
                font-size: 21px;
                font-weight: 500;
            }
        }
    }
    .post-card-top{
        a{
            overflow: hidden;
            display: block;
            img{
                height: auto;
            }
        }
    }
    .post-card-title{
        font-family: $oswald;
        font-size : 21px;
        a{
            color : $main_menu_color;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .post-card-content{
        font-size: 120%;
        line-height: 1.3;
        color: #666;
        display: table;
        font-family: $trebuchet;
    }
} 

// .widget{
//     .post-card {
//         .post-card-top {
//             a {
//                 img{
//                     height: auto;
//                 }
//             }
//         }
//     }
// }

.padding-lr5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.margin-lr5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}
.margin-b30{
    margin-bottom: 30px;
}
.margin-b20{
    margin-bottom: 20px;
}
.border-1 {
    border: 1px solid #b9b9b9;
}
.padding-10 {
    padding: 10px;
}
.oswald{
    font-family: $oswald;
    font-size: 56px;
}
.radius-5 {
    border-radius: 5px;
}
.border-b1{
     border-bottom: 1px solid #b9b9b9;
 }
.border-r1{
    border-right: 1px solid #b9b9b9;
}
.wrapper {
    padding: 10px 0!important;
}

.module, .modules {
    padding: 0 0 10px 0;
    box-shadow: none; 
    margin-bottom: 10px;
    background-color: $white;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    overflow: hidden;
}
.padding-0{ 
    padding: 0 !important;
}
.margin-0{
    margin: 0 !important;
}
.margin-t10{
    margin-top: 10px !important;
}
.margin-t20{
    margin-top: 20px;
}
.margin-b10{margin-bottom: 10px!important;}
.directory-bg{
    background-color: #fff;
}

.modules{
    border-bottom: 1px solid $directory_border;
    &.dotted-border{
        border-bottom:3px dotted $border_bottom ;
    }
    .post-card-top{
        float:left;
    }
    .post-card-bottom{
        overflow:hidden;
        padding: 0px 10px;
        color: $black;
        font-family: $trebuchet;
        &.module-content{
            font-weight:bold;
            font-size: 15px;
        }
        &.babies{
            color : rgb(255, 51, 255);
        }
        &.birthday{
            color : #6633cc;
        }
        &.camps{
            color : #336633;
        }
        &.childcare{
            color : #006699;
        }
        &.course{
            color : #cc00cc;
        }
        &.education{
            color : #cc0000;
        }
        &.family{
            color : #cc6600;
        }
        &.familyservices{
            color : #333399;
        }
        &.health{
            color : #336666;
        }
        &.prepost{
            color : #cc3333;
        }
        &.retail{
            color : #cc3399;
        }
        &.needs{
            color : #0033cc;
        }
        &.sports{
            color : #333366;
        }
        .bottom-left{
            display: block;
            min-height: 50px;
            .post-card-title{
                float:left;
            }
            .publishing-date{
                float:right;
                a{
                    font-size: 17px;
                    color: $main_menu_color;
                }
            }
        }
        .post-card-title{
            font-family: $oswald;
            font-weight: 500;
            a{
                color: $main_menu_color;
                font-size: 18px;
            }
        }
        .author{
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 10px;
            font-size: 11px;
        }
    }
    .left-title{
        display: inline-block;
        width: 30%;
        text-align: center;
        font-family: $oswald;
        font-size: 18px;
        color: $primary_color;
        &.left-align{
            text-align: left;
            font-size: 24px;
        }
    }
    .right-issue{
        display: inline-block;
        vertical-align: top;
        width: 69%;
        text-align: right;
        font-family: $oswald;
        font-size: 17px;
        color: $primary_color;
    }
}

.post-type-name{
    font-family: $handlee;
    font-size: 1.7em;
    line-height: 1.8em;
    color: $primary_color;
    border-bottom: 3px dotted $border_bottom;
    font-weight: bold;
    width: 100%;
    .more-links-btn{
        border: none;
        color: #D52A6D;
        margin-top: 10px;
        font-size: 13px;
        font-weight: bold;
    }
}

.mf-cat-posts {
    margin-bottom: 20px;
}

.mf-notices {
    margin-top: 30px;
    height: 250px;
    width:  100%;
    background: #b9b9b9;
}

.category-page-wrapper{
    .cat-slider-image{
        width: 65%;
        display:inline-block;
        .owl-controls{
            display:none;
        }
    }
    .slider-image-wrapper{
        a{
            // max-height: 200px;
            overflow:hidden;
            display:block;
        }
    }
    .slider-content-title{
        width: 34%;
        vertical-align: top;
        display: inline-block;
    }
    .mf-cat-sllider {
        padding: 0px;
        .slider-content-wrapper{
            display:block;
        }
        .cat-slider-item{
            position: relative;
            display:inline-block;
            padding: 8px;
            text-align: left;
            margin-bottom: 3px;
            color :#666666;
            cursor: pointer;
            border: 1px solid #666666;
            border-radius: 3px;
            width:90%;
            margin-left: 15px;
            font-family: $trebuchet;
            font-weight: 400;
        }
        .triangle, .hover-triangle {
            display: inline-block; 
            position:relative;
            &:before{
                content:"";
                border-style: solid;
                border-width: 10px 15px 10px 0;
                border-color: transparent #666666 transparent transparent;
                position: absolute;
                left: -15px;
            }   
        }
    }
}

//home page slider

.banner-wrapper{
    margin-top: 20px;
}


//pagination

.custom-pagination{
    .paginate-links{
        font-family: $trebuchet;
        a{

            padding: 4px 12px;
            line-height: 20px;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
            color: $main_menu_color;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .page-numbers{
       padding: 4px 12px; 
    }
    .current{
        color: #fff;
        cursor: default;
        font-weight: bold;
        padding: 4px 12px;
        background: $primary_color
    }
}

.pagination{
    li{
        a,span{
            color: $primary_color;
        }
        
    }
}
