.directory-heading-wrapper {
    .directory-name-panel{
        width: 60%;
        display:inline-block;
        .directory-name{
            font-size:49px;
            font-weight: 500;
            color: $directory_name;
        }
    }
    .search-bar {
        display: inline-block;
        width: 39%;
        text-align: -webkit-right;
        a{
            text-decoration: none;
            color: $black;
            font-family: $trebuchet;
            .directory-btn{
                padding: 4px 58px;
            }
        }
        input[type="text"] {
            border: 1px solid #ccc;
            height: 30px;
            padding: 4px 10px;
            color: #555;
            border-radius: 4px;
            width: 225px;
            &:focus{
                border-color: rgba(82,168,236,0.8);
                outline: 0;
                outline: thin dotted \9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
                -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
            }
        }
        .directory-btn{
            padding: 2px 16px;
            background: #f6f6f6; 
            border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
            border: 1px solid #bbb;
            background-image: linear-gradient(to bottom,#fff,#e6e6e6);
            border-radius: 4px;
            box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);

            &:hover{
                color: #333;
                text-decoration: none;
                background-color: #e6e6e6;
                *background-color: #d9d9d9;
                background-position: 0 -25px;
                -webkit-transition: background-position .1s linear;
                -moz-transition: background-position .1s linear;
                -o-transition: background-position .1s linear;
                transition: background-position .1s linear;
            }
        }
    }
}

.directory-heading-wrapper {
    .clear-filter{
        a{
            text-decoration: none;
            color: $black;
            font-family: $trebuchet;
            .directory-btn{
                width: 100%;
                background: #f6f6f6; 
                border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
                border: 1px solid #bbb;
                background-image: linear-gradient(to bottom,#fff,#e6e6e6);
                border-radius: 4px;
                box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);

                &:hover{
                    color: #333;
                    text-decoration: none;
                    background-color: #e6e6e6;
                    *background-color: #d9d9d9;
                    background-position: 0 -25px;
                    -webkit-transition: background-position .1s linear;
                    -moz-transition: background-position .1s linear;
                    -o-transition: background-position .1s linear;
                    transition: background-position .1s linear;
                }
            }
        }
    }
}

.directory-filter{
    .directory-filter-title{
        display: inline-block;
        font-weight: normal;
        margin: 0;
        overflow: hidden;
        padding: 3px 10px;
        width: 100%;
        background: $directory_cat_clr;
        color: $white;
        line-height: 1.5em;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        font-family: $oswald;
    }
    .directory-category-menu{
        list-style: none;
        padding: 0px;
        font-family: $trebuchet;
        .listing-items{
            display: block;
            border-bottom: 1px solid $border_color;
            padding: 3px;
            padding: 4px;
            padding-left: 7px;
            font-family: $trebuchet;
            cursor: pointer;
            &:hover{
                background: $footer_hov_link_clr;
                color: #333333;
            }
        }
    }
    .directory-filter-list{
        li:first-child { 
            display: none; 
        }
    }
}

.directory-single-list{
    border-bottom: 1px solid $directory_border;
    &.parent-flex{
        display: flex;
    }   
    .child-flex{
        flex:1;
    }
    &.premium{
        border-bottom: solid 1px #aab0b6;
        background-color: #e7ebee;
        background-image: -moz-linear-gradient(top,#edf0f2,#dee3e8);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#edf0f2),to(#dee3e8));
        background-image: -webkit-linear-gradient(top,#edf0f2,#dee3e8);
        background-image: -o-linear-gradient(top,#edf0f2,#dee3e8);
        background-image: linear-gradient(to bottom,#edf0f2,#dee3e8);
        background-repeat: repeat-x;
    }
    .directory-single-list-name{
        font-size:  16px;
        margin-bottom: 5px;
        font-family: $oswald;
        a{
            color: $main_menu_color;
            font-family: $oswald;
        }
    }
    .directory-single-content-list{
        font-family: $trebuchet;
        display:inline-block;
        &.content-display{
            display:inline-block;
            width: 40%;
        }
        p{
            margin: 0 0 2px;
            color: $black;
        }
    }
    .directory-single-category{
        font-family: $trebuchet;
        margin-top: 35px;
        &.category-display{
            width: 50%;
            margin-top: 0;
            display: inline-block;
            vertical-align: top; 
        }
        .directory-list-cat{
            span{
                color : $black;
            }
        }
        .directory-cat{
            font-weight: 700;
        }
    }
    .directory-single-list-top{
        p{
            font-family: $trebuchet;
            color: $black;
            font-weight: bold; 
        }
    }
}

.directory-desc-wrapper{
    padding: 1em;
    border: solid 1px $directory_border;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 0; 
    .description{
        font-family: $oswald;
        font-weight: 500;
        color: $primary_color; 
    }
    p{
        font-family: $trebuchet;
        color: $black;
        font-weight: 500;
        a{
            font-family: $trebuchet;
            color: $main_menu_color;
        }
    }
    span{
        color: $black;
        font-family: $trebuchet;
    }
}

.google-map-wrap {
    iframe{
        width: 100%; 
        height: 365px;
        border:0;  
    }
}

.directory-single-page{
    border-bottom : 1px solid #a6a6a6;
    .directory-search-button{
        font-family: $trebuchet;
        color: $main_menu_color; 
    }
}
.single-directory-content{
    padding: 0px;
    border-bottom: 0px;
    .directory-single-list-name{
       margin: 10px 0px;
       font-size: 32px;
       color: $directory_header;
    }
    .directory-single-content-list{
        width: 40%;
    }
    .directory-category{
        width: 50%;
        .directory-cat{
            color: $black;
        }
        .directory-cat-name{
           .label{
                background: #3a87ad;
                font-weight: bold;
                color: $white;
            } 
        } 
    }
}

.directory-single-image{
    margin: 30px;
}

.directory-search-toggle-btn{
    cursor: pointer;
}

.directory-slide{
    display: none;
}
.directory-search-form-wrap{
    display:block;
}

.directory-single-page-gallery-wrap {
    margin-top: 20px;
    .gallery-item {
        display: inline-block;
        border: solid 1px #cdcdcd;
        padding: 4px;
        line-height: 20px;
        border-radius: 4px;
        margin-right: 6px;
        margin-bottom: 15px;
        a {
            display: block;
        }
        img {
            max-width: 247px;
            max-height: 129px;
        }
    }
}