.event-filter-page-wrapper{
    .fc-header-toolbar{
        .fc-left{
            h2{
            font-weight: bold;
            margin-top: 0;
            padding-top: 0;
            text-align: center;
            margin-bottom: .25em;
            line-height: 1em;
            color: inherit; 
            }
        }
    }
        
}
.community-calendar{
    .fc-row {
        height: 60px !important;
        &.fc-widget-header{
            height: 40px !important;
        }
    }
    .fc-widget-content{
        .fc-scroller{
            height: 350px !important;
            overflow: hidden;
        }
    }

}
.event-filter-page-wrapper{
    .ecp-widget-event-filter{
        display:none;
    }
}

.claendar-parent, .community-calendar {
    margin-right: -17px;
    .fc-header-toolbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        h2 {
            font-size: 25px;
            margin-bottom: 10px;
        }
    }
    .fc-widget-header {
        table {
            thead {
                tr {
                    th {
                        text-align: center;
                        font-weight: bold;
                        line-height: 2em;
                        background: #333333 !important;
                        color: #fff;
                        border-width: 0;
                        padding: 5px;
                    }
                }
            }
        }
    }
    .fc-content-skeleton {
    	cursor: pointer;
        table {
            thead {
                tr {
                    td {
                        color: $directory_cat_clr;
                        background: #e6e6e6 !important;
                        line-height: 57px;
                        text-align: center;
                        border: 2px solid #fff !important;
                        &:hover{
							color: #262626 !important;
    						background: #f2f2f2 !important;
						} 
                    }
                    td.fc-today {
                        color: $white !important;
                        background: $border_color !important;
                    }
                }
            }
        }
    }
    .fc-day-number {
        float: inherit !important;
    }
    td,
    tbody,
    td,
    th,
    thead {
        border-color: $white;
    }
    .fc-content-skeleton {
        padding-bottom: 0 !important;
        margin: -2px 0;
    }
    .fc-day-grid-container {
        margin-right: 17px;
    }
}
.calendar-sidebar{
    .ecp-widget-event-footer {
        .btn {
            border-bottom: 0px;
            width:100%;
            text-align: left;
            &:first-child {
                float: none;
                margin-top: 0px;
                display:block;
            }
            &:last-child {
                margin-top: 0px;
                float: none;
                border-bottom: 1px solid #ccc;
            }
        }
        form{
            button{
                color: $main_menu_color;
            }
        }
    }
}

.ecp-widget-event-footer {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a6a6a6;
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
    .btn {
        display: inline-block !important;
        width: inherit;
        &:first-child {
            float: left !important;
            margin-top: -5px;
        }
        &:last-child {
            margin-top: -5px;
            float: right !important;
        }
    }
}

.ecp-widget-event-list{
	padding-bottom: 8px;
	margin-bottom: 10px;
	border-bottom: 2px solid #e6e6e6;
	h4{
		color: $primary_color;
		font-family: $oswald;
	}
}
.ecp-widget-event-filter{
	form{
		border-bottom: 1px solid #e6e6e6;
	}
	.form-group{
		font-family: $trebuchet;
		padding-top: 5px;
        input[type=search]{
            width: 85%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px;
        }
	}
	#event_category{
		width: 65%;
    	float: right;
	}
}

.btn-block + .btn-block {
	margin-top: 0px;
}
.list-unstyled {
	.panel-default{
		.panel-collapse{
			padding: 10px;
			font-family: $trebuchet;
			color: $black;

		}
	}
}


//single event pro
.single-pro_event{
    .pro_event{
        .entry-header{
            .entry-title{
                color: $directory_name;
                font-family: $oswald;
                font-weight: 500;
                margin: 20px 0;
            }
        }
    }
}
.ecp-single-event {
    .ecp-single-date-time{
        font-family: $oswald;
        color: $primary_color;
    }
    h3.title,h3 {
        font-size: 25px;
        border-bottom: 1px solid #a6a6a6;
        margin: 10px 0;
        padding: 10px 0;
        color: $primary_color;
        font-family: $oswald;
    }
    .ecp-single-event-body{
        font-family: $trebuchet;
    }
    .ecp-single-event-location, .ecp-single-event-info, span{
        font-family: $trebuchet;
        h4{
            font-family: $oswald;
            color: $primary_color;
        }
    }
    .ecp-single-event-body{
        &:after{
            content: " ";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    }
    .event-image {
        float: left;
        margin: 0 15px 5px 0;
        display: inline-block;
        img {
            display: block;
            padding: 4px;
            line-height: 20px;
            border: 1px solid #ddd;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            max-width: 375px;
            max-height: 400px;
        }
    }
}
.subcontent{
    margin-top: 15px;
    border-top: solid 1px #a6a6a6;
    padding-top: 15px;
    font-style: italic;
    font-family: $trebuchet;
}

.pro_event .entry-title {
    color: #65b039;
    background-color: #fff;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
}

//event-listing-page
.event-listing {
    padding: 10px 0;
    font-family: $trebuchet;
    .calendar-list-image {
        float: right;
        display: inline-block;
        overflow: hidden;
        vertical-align: sub;
        margin-left: 10px;
    }
    .event-title {
        margin-top: 10px;
        font-size: 32px;
        font-weight:500;
        font-family: $oswald;
        a{
            color: $main_menu_color;
        }
    }
    .event-location,
    .event-date {
        font-size: 18px;
        font-weight: 700;
        color: $black;
    }
    .event-categories {
        a {
            display: inline-block;
            padding: 5px;
            background-color: #ccc;
            margin-right: 10px;
            color: $main_menu_color;
        }
    }
    .event-detail {
        display: inline-block;
        margin: 10px 0;
        a{
            color: $main_menu_color;
        }
    }
}

