.footer-wrapper-border {
	border-top : 1px solid $border_color;
	margin-top: 20px;
	.sidebar-1, .sidebar-2{
		border-right: 1px solid $border_color;
		font-family: $oswald;
	}
	.menu{
		list-style: none;
		padding: 0px;
		margin: 5px 0px;
		margin-top: 15px;
		font-family: $trebuchet;
		.menu-item{
			display: block;
		}
		a{
			color: $main_menu_color;
    		padding-right: 120px;
    		display: block;
    		margin-bottom: 5px;
    		text-decoration:none;
    		padding-left: 10px;
    		margin-left: -10px;
    		&:hover{
    			background: #cccccc;
    			color: #333333;;
    		}
		}
	}
	.textwidget{
		font-family: $trebuchet;
		color: $footer_hov_color;
		&.design-by{
			a{
				color: $main_menu_color;
				font-family: $oswald;
			}
		}
	}
	.sidebar-2{
		margin-left: 8px;
	}
}

.msacwl-gallery-caption {
	display:none;
}
.screen-reader-text{
	display: none;
}
