.mf-header-wrapper{
	margin-top: 10px;
	.mf-service-menu{
		list-style: none;
		text-align: right; 
		.service-icon{
			color: $white;
			border-radius: 50%;
			padding: 3px 4px;
			&.fb-color{
				background : #395ea4;
				padding: 3px 6px;
			}
			&.twitter-color{
				background : #2aaad9; 
			}
			&.youtube-color{
				background : #fc3937;
			}
			&:hover{
				opacity: 0.8;
			}
		}
	}
	.mf-service-menu-item{
		display: inline-block;
		vertical-align: top;
		a{
			margin-left: 10px;
			color : #4d4d4d;
			text-decoration: none;
			font-family : $trebuchet;
			.newsletter{ 
				background: $primary_color;
			    border-radius: 5px;
			    color: #FFF;
			    text-shadow: none;
			    padding: 3px;
			    &:hover{
			    	opacity: 0.7;
			    }
			}
			&:focus {
			    outline: none;
			    outline: 0 auto transparent; 
			    outline-offset: 0px;
			}
			&:hover {
			    color: #262626;
			}
		}
	}
	.mf-searchbar{
		text-align: right;
		padding-top: 15px;
		label{
			display: none;
		}
		.input-group{
			.field{
				margin-bottom: 0;
			    padding: 8px 10px;
			    font-size: 13px;
			    font-weight: normal;
			    line-height: 1.2;
			    -webkit-border-radius: 15px;
			    -moz-border-radius: 15px;
			    border-radius: 20px;
			    border: 1px solid #ccc;
			    width: 250px;
			    &:focus{
			    	border-color: rgba(82,168,236,0.8);
				    outline: 0;
				    outline: thin dotted \9;
				    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
				    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
				    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
			    }
			}
			.input-group-btn{
				padding-left: 10px;
				display: inline-block;
			}
			.search-btn{
				background: #f6f6f6; 
    			border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
			}
		}
	}
}
.navbar{ 
	min-height: 0px;
}

.main-menu{
	margin: 3px;
	.menu-item{
		a {
		    color: $primary_color;
		    font-family: $handlee;
		    font-size: 180%;
		    padding-top: 8px;
		    padding-bottom: 10px;
		    border: none;
		    text-shadow: none;
		    margin: 0px 17px;
		    &:hover{
		    	color: #28B0C8;
		    	background: none;
		    }

		}
	}
}
.mf-secondary-navbar {
	background : $main_menu_color;
	.secondary-menu{
		.menu-item{
			a {
			    color: $white;
			    font-family: $open_sans;
			    font-size: 115%;
			    padding: 8px 26px 10px 27px;
			    border: none;
			    text-shadow: none;
			    margin: 0px 17px;
			    text-transform: uppercase;
			    a:last-child{
			    	padding:8px 25px 10px 0px;
			    }
			    &:hover{
			    	color: #d7dde5;
			    	background: none;
			    	transition: 0.3s;
			    }

			}
		}
	}

}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background: none;
}

.mf-repeat-field{
	background-repeat: repeat;
	background-image: url("background/triangle-border.png");
	padding : 3px;
}




.mobile-navbar{
	display:none; 
	background: $main_menu_color;

	.mobile-btn{
		background: none;
    	box-shadow: none;
    	font-family: $trebuchet;
    	color: $white

	}	
}

.mobile-navbar-expand{
	.collapse{
		.dont-collapse-sm {
		    display: block;
		    height: auto !important;
		    visibility: visible;
		}
	}
	.mbl-menu{
		.well{
			background: #d9d9d9;
			ul{
				padding: 0;
			    list-style: none;
			    background: #d9d9d9;
			}
			li{
		    	-webkit-box-sizing: border-box;
			    border-bottom: solid 1px #d9d9d9;
			    position: relative;
		    	a{
		    		display: block;
				    padding: 12px 50px 12px 10px;
				    text-align: left;
				    background-color: #f2f2f2;
				    width: 100%;
				    text-shadow: none;
				    color: $light_black;
				    position: relative;
				    text-decoration: none;
				    font-family: $trebuchet;
				}
		    }
		    input[type="text"]{
			    margin-bottom: 0;
			    padding: 8px 10px;
			    font-size: 13px;
			    font-weight: normal;
			    line-height: 1.2;
			    -webkit-border-radius: 15px;
			    -moz-border-radius: 15px;
			    border-radius: 20px;
			    border: 1px solid #ccc;
			    width: 300px;
			    &:focus{
			    	border-color: rgba(82,168,236,0.8);
				    outline: 0;
				    outline: thin dotted \9;
				    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
				    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
				    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
			    }
		    }
		}
	}
}













.dropdown-menu>.active>a{
	background: transparent;
}
.dropdown-menu>a:hover, .dropdown-menu>.active>a:hover{
	background: transparent;
	color: none;
}
.dropdown-menu>li>a:hover{
	background: none;
}