/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

	//Header
	.mf-service-menu{
		display: none;
	}
	.mf-searchbar{
		display: none;
	}
	.mf-repeat-field{
		display: none;
	}
	.navbar{
		border-bottom: 0px;
	}
	.site-navigation{
		display:none;
	}
	.mobile-navbar{
		display:block;
	}
	.mf-logo{
		width: 100%;
		text-align: center;
		img{
			width: 70%;
		}
	}
	.mobile-navbar-expand {
		.mbl-menu {
			.well {
				input[type="text"]{
					width: 270px; 
				}
			}
		}
	}

	//Category Page
	.category-page-wrapper {
		.cat-slider-image{ 
			width: 100%;
			display: block;
		}
		.slider-content-title{
			display:none;
		}
	}

	//Directory page
	.directory-heading-wrapper {
		.directory-name-panel{
			display:none;
		}
		.search-bar{
			width: 100%;
			text-align: left;
			form{
				width: 100%;
				input[type=text]{
					width: 70%; 
				}
			}
		}
	}
	.directory-hidden-form{
		margin-bottom: 20px;
		.directory-filter-title{
			text-align: center;
		}
	}
	.directory-heading-wrapper{
		.modules {
			.post-card-top{
				float: none;
			}
		}
	}
	
	.directory-single-list {
		.directory-single-list-top {
			display:block;
		}
		.directory-single-category{
			display:block;
			width: 100%;
			&.pull-right{
				float : none !important;
			}
		}
	}

	// Archive page
	.single-category-header-wrapper{
		margin-top: 10px;
	} 
	.modules {
		.post-card-bottom {
			.bottom-left {
				.post-card-title{
					float:none;
				}
				.publishing-date{
					float:none;
					margin-bottom: 5px;
				}
			}
		}
	}

	//Footer starts
	.footer-wrapper-border{
		.sidebar-2{
			margin-left: 0px;
		}
	} 
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.mobile-navbar-expand {
		.mbl-menu {
			.well {
				input[type="text"]{
					width: 270px; 
				}
			}
		}
	}
}