.newsletter-wrapper {
    margin: 20px 0px;
    .sidebar-newsletter-content-wrapper{
    	margin: 20px 0px;
    	.newsletter-content{
    		font-family: $trebuchet;
    	}
    }
    .newsletter-btn{
    	padding: 10px;
    	color: rgb(255, 255, 255);
    	text-transform: uppercase;
    	width: 300px;
    	font-family: $open_sans;
    	font-weight: 700;
    	text-align: center;
    	background-color: rgb(0, 0, 0);
    	margin:auto;
    	font-size: 110%;
    	.newsletter-link{
    		color: $white;
    		&:hover{
    			color : $footer_hov_color;
    		}
    	}
    }
}

.panel{
	margin-top: 15px;
	border-bottom: 0px;
	.panel-heading{
		padding: 0px;
		position:relative;
		&:hover{
			opacity: 0.8;
			.sidebar-caret-icon{
				color: #fff;
			}
		}
	}
	.panel-title{
		display: block;
		background: $primary_color;
		border-radius: 5px;
		a{
			display: block;
			padding: 5px 10px;
			cursor: pointer;
			font-weight: bold;
			color: $white;
			font-family: $trebuchet;
			text-decoration: none;
			.sidebar-caret-icon{
				position: absolute;
				right: 10px;
				top:6px;
			    color : $black;
			}
		}
	}
	.panel-body{
		padding :0px;
	}
	.list-unstyled{
		margin-bottom: 0px;
		li{
		    border-bottom: solid 1px #cdcdcd;
		}
		a{
			display: block;
    		padding: 5px 10px;
    		font-family: $trebuchet;
    		text-decoration: none;
    		font-size: 14px;
    		color: $main_menu_color;
    		&:hover{
    			background: #515151;
    			color: #fff;
    		}
		}
	}
}

.panel-group .panel+.panel {
    margin-top: 2px;
}

.sidebar-image-wrapper {
	border: 1px solid #DDD;
	.sidebar-image{
		padding:5px;
	}
	.sidebar-image-content{
		text-align: center;
		margin: 15px 0px;
	}
	.present-issue{
		font-weight: 500;
		a{
			color: $primary_color;
			font-family: $oswald;
		}
		&:hover{
			a{
				opacity: 0.8;
			}
		}
	}
	.past-issue{
		a{
			font-size: 12px;
			color: $main_menu_color;
			font-family: $oswald;
		}
		&:hover{
			a{
				opacity: 0.8;
			}
		}
	}
	.find-copy{
		font-weight:bold;
		a{
			font-size: 12px;
			font-family: $oswald;
			color: $main_menu_color;
			&:hover{
				opacity: 0.8;
			}
		}
	}
}

.widget-area{
	.widget-title{
		font-family: $handlee;
	    font-size: 1.7em;
	    line-height: 1.8em;
	    color: #d7256c;
	    border-bottom: 3px dotted #9a9a9a;
	    font-weight: 700;
	    width: 100%;
	}
	.textwidget{
		font-size: 14px;
		line-height: 20px;
		font-family: $trebuchet;
			
	}
	a{
		color: $main_menu_color;
	}
	#wp-calendar{
		caption{
			display:none;
		}
		width: 100%;
	}
	.widget_archive, .widget_recent_comments, .widget_recent_entries{
		ul{
			list-style: none;
			padding: 0px;
			a{
				color: $main_menu_color;
				font-family: $trebuchet;
				font-size: 16px;
				line-height: 25px;
			}
		}
	}
	.wpp-list{
		padding: 0px;
		margin: 15px 0px;
		li{
		    padding: 10px 0;
		    border-bottom: solid 1px #cdcdcd;
		    position: relative;
		    font-size: 21px;
		    font-weight: 500;
		    font-family: $oswald;
		    a{
		    	color: $main_menu_color;
		    }
		}
	}
}
