// Single page starts

.single-page-top-pannel{
    list-style: none;
    padding: 0px 0px 10px 0px;
    box-shadow: none;
    border-bottom: solid 1px #a6a6a6;
    font-family: $trebuchet;
    .single-page-top-pannel-listing{
        display: inline-block;
        vertical-align: top;
        color : #999999;
        a{
            color: $main_menu_color;
        }
        .divider{
            padding: 0 5px;
            color: #ccc;
        }
    }
}

.content-area{
    .entry-title{
        font-size : 40px;
        font-weight: 500;
        color: $black;
    }
    .entry-subtitle{
        font-size : 32px; 
        color: $gray-dark;
    }
    .entry-meta{
        margin: 25px 0px;
        .posted-on{
            display:none;
        }
        .byline{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px; 
            a{
                color: $black;
            }
        }
    }
    .single-image-wrapper{
        padding-bottom: 20px 0px;
    }
    .entry-content {
        font-size: 16px;
        line-height: 27px;
        color: $black;
        a{
            color : $main_menu_color;
            font-weight: 700;
        }
    }
    .comment-respond{
        .logged-in-as, .comment-reply-title{
            display:none;
        }
        .comment-add-title{
            label{
                font-family: $oswald;
                font-weight: 500;
                color: #a39382;
                padding-top: 15px;
                padding-bottom : 30px;
            }  
        }
        .add-comment{
            height: 200px; 
            padding: 10px;
            border: solid 1px #a6a6a6;
            margin: 10px 0;
            width: 100%;
            background-color: #F5F5F5;
        }
        .counter-wrapper{
            margin: 5px 0px;
            font-family: $trebuchet;
            font-weight: normal;
            input {
                margin: 0;
                width: 150px;
                background-color: #eee;
                border: 1px;
                padding: 10px;
            }
        }
        .form-submit{
            input{ 
                color: $white;
                margin: 20px 0px;
                border: 1px;
                border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
                padding: 4px 12px;
                border-bottom-color: #a2a2a2;
                border-color: #e6e6e6 #e6e6e6 #bfbfbf;
                border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
                background: $border_color;
            }
        }
    }
}