$brand-primary: blue;
$navbar-height: 60px;
$navbar-margin-bottom: 0px;
$navbar-border-radius: 0px;

 
//minor colors
$black:#000;

/*BootStrap Variables Overwrite*/
//Colors
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee


$body-bg:               #fff !default;
$text-color:            $gray-dark !default;
$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

//Typography
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;



@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');



$oswald       		: 'Oswald', sans-serif;
$handlee 	        : 'Handlee', cursive;
$trebuchet 	    	: 'Trebuchet MS', sans-serif;
$open_sans 	    	: 'Open Sans', sans-serif;
$main_menu_color	: #436290;
$white				: #fff;
$primary_color      : #d7256c;
$border_color       : #808080;
$footer_hov_color   : #b3b3b3;
$border_bottom  	: #9A9A9A; 
$directory_name  	: #a39382;
$directory_cat_clr 	: #4d4d4d;
$footer_hov_link_clr: #ccc;
$directory_header	: #a39382; 
$directory_border	: #cdcdcd;
$owl-dot	        : #999;
$light_black	    : #262626;



/*FontAwesome Variables Overwrite*/

@font-face {
  font-family: 'TrebuchetMS';
  src: url('TrebuchetMS.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


