// Some basic padding for all wrappers
.wrapper {
  padding:$grid-gutter-width 0;
}

// Adding basic Wordpress classes to pass the Wordpress.org tests
.sticky, .gallery-caption, .bypostauthor {
  font-size:inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
  border-bottom:1px solid $gray-light;
}

// Necessary WP classes
.wp-caption {
  font-size: inherit;
}

.wp-caption-text {
  font-size: inherit;
}

.screen-reader-text {
  font-size: inherit;
  word-wrap: normal !important;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  margin:0px auto;
}

//Post design
.entry-footer span {
  padding-right:10px;
}

//Limit featured image size to 100%
img.wp-post-image, article img, figure, #secondary img {
  max-width: 100%;
}

// Skip to content link
a.skip-link{
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0px;
}

// Reset Jumbotron default margin
.jumbotron {
  margin-bottom:0px;
}

//Bootstrap3 to Bootstrap4 "translation"
//.menu-item {float:left; width:auto; display:inline;}

// Fixing BS dropdown in a dropdown
.dropdown-menu .dropdown-menu {
  position:relative;
  display:block;
  border: none;
  box-shadow: none;
  margin-left:30px;
  width:120px;
  li {
    list-style: square;
    padding-left: 0px;

    a {
      padding-left:10px;
      padding-right:10px;
    }
  }
}


.search,
.archive,
.error404 {
  .page-header {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.error404 {
  .page-header {
    margin-bottom: 80px;
  }
}
.error404-alert {
  font-size: 100px;
  font-weight: 700;
  text-shadow: 4px 4px 0 #ddd;
  color: $primary_color;
}
.search,
.archive,
.error404 {
  .page-title {
    margin-top: 0;
  }
}
.search {
  .page-content p {
    margin-bottom: 20px;
  }
}
.archive-description {
  p {
    color: #232322;
    font-size: 16px;
    font-weight: 300;
  }
}

// Search Page design starts

.search-result-name-wrapper{
  .search-result-name{
      color: $main_menu_color;
      text-decoration: none;
      &:hover{
          border-bottom: 2px solid $main_menu_color;
      }
  }
}

.search-wrapper, .error404{
  .btn-primary{
    background: $primary_color;
    border-color:  $primary_color;
    &:active:focus{
      background: $primary_color;
      border-color:  $primary_color;
    }
  }
}

//Search page design ends


//Addthis plugin

.at-resp-share-element {
  .at-share-btn {
    .at-label{
      color: #fff;
    }
  }
}

// owl carousel dots

.owl-dots{
  position: relative;
  width: 100%;
  min-height: 20px;
  display: block;
  text-align: center;
  margin-top: 15px;
  .owl-dot{
    border: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: $owl_dot;
    margin: 5px;
    border-radius: 100%;
    &.active {
        background: $black;
    }
  }
}


//Default Page
.page{
  .entry-header {
      .entry-title{
          font-size: 56px;
          font-family: $oswald;
          color: $directory_name; 
      }
  }
  .entry-content{
    font-family: $trebuchet; 
    h2{
      strong{
        font-family: $oswald;
        font-size: 25px;
      }
    }
    h4, h3{
      font-family: $oswald;
      font-size: 18px;
      color: $primary_color;
    }
  }
}



